@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f7f7f7;
  font-family: "Nunito", sans-serif;
  margin: 50px;
}

.screens {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.screens__main {
  position: relative;
  width: 400px;
  height: 710px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

@keyframes blinkIcon {
  from {
    color: white;
  }
  to {
    color: pink;
  }
}
.status-bar__column .fa-battery-full {
  -webkit-animation: blinkIcon 4s ease-in-out infinite;
}

.status-bar {
  justify-content: center;
  display: flex;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-wifi {
  color: purple;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
  color: pink;
}

.status-bar__column .fa-bolt {
  color: #222222;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

.singer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singer__avatar {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  box-shadow: 0px 15px 15px rgba(15, 51, 141, 0.2);
  transition: transform 1s ease-in-out;
}
.singer__avatar:hover {
  transform: scale(1.5);
}
.singer__name {
  margin-top: 20px;
  font-weight: 750;
  font-size: 20px;
}
.singer__janre {
  margin-top: 5px;
  font-size: 12px;
  color: #a3a4a3;
  font-weight: 500;
}

.btn {
  margin-top: 15px;
  text-align: center;
}

.btn__middle {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.btn__middle:first-child {
  background-color: #222222;
  color: #f7f7f7;
}

.btn__middle:last-child {
  background-color: #ffffff;
  color: #a3a4a3;
  margin-left: 10px;
}

.btn__middle:last-child i {
  color: #052e97;
}

li {
  list-style-type: none;
}

.chatlist {
  height: 250px;
  overflow-y: auto;
  z-index: 1;
}
.chatlist__list {
  height: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 5px;
  transition: transform 2s ease-in-out;
}

.chatlist__list:hover {
  box-shadow: 5px 5px 5px rgba(15, 51, 141, 0.2);
}

.chatlist__cover {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: transform 1s ease-in-out;
}

.chatlist__cover:hover {
  transform: translateX(60px) scale(2.5);
}
.chatlist__data {
  display: flex;
  align-items: center;
}

.chatlist__text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.chatlist__nickname {
  font-size: 15px;
  font-weight: 700;
}
.chatlist__chat {
  font-size: 11px;
  font-weight: 500;
  color: #a3a4a3;
}

.chatlist__nav {
  font-size: 9px;
  font-weight: 500;
  color: #a3a4a3;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.chatlist__notification {
  background-color: rgb(60, 201, 187);
  width: 15px;
  height: 15px;
  border-color: 2px solid #ffffff;
  border-radius: 7.5px;
  color: white;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  align-items: center;
  padding-top: 1px;
  margin-top: 5px;
}

.nav {
  position: absolute;
  bottom: -10px;
  width: 100%;
  margin: 10px 0px;
  background-color: #f9f9fa;
  border-radius: 25px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
}

.nav__link {
  /* absolute는 부모 기준으로 움직임 */
  position: relative;
  color: #222222;
}

.nav__notification {
  background-color: rgb(60, 201, 187);
  width: 18px;
  height: 16px;
  border-color: 2px solid #ffffff;
  /* 원을 만들려면 크기의 반절을 주면 됨 */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  /* 겹칠 때.. 포지션도 정리하자 */
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 10px;
}

.nav__dot {
  color: rgb(60, 201, 187);
  font-size: 30px;
  position: absolute;
  left: 20px;
  bottom: 8px;
}

@media (max-width: 750px) {
  .screens__main {
    position: relative;
    width: 350px;
    height: 640px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
  }

  .singer__avatar {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 15px 15px rgba(15, 51, 141, 0.2);
  }

  .btn__middle {
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
  }

  .chatlist {
    height: 230px;
    overflow-y: auto;
    z-index: 1;
  }
  .chatlist__cover {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .chatlist__nickname {
    font-size: 14px;
    font-weight: 700;
  }
  .chatlist__chat {
    font-size: 10px;
    font-weight: 500;
    color: #a3a4a3;
  }

  .chatlist__nav {
    font-size: 9px;
    font-weight: 500;
    color: #a3a4a3;
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  .chatlist__notification {
    background-color: rgb(60, 201, 187);
    width: 15px;
    height: 15px;
    border-color: 2px solid #ffffff;
    border-radius: 7.5px;
    color: white;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    align-items: center;
    padding-top: 1px;
    margin-top: 5px;
  }
}
